<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room</title>
</head>
<body>
    <span>Код комнаты: </span>
    <span id="roomIdSpan">{{ room_id }}</span>

    <div class="inputUrl">
        <input id="videoUrl" type="text" placeholder="Введите ссылку на видео...">
        <button id="newVideoBtn">Установить</button>
    </div>

    <div id="player"></div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script>
        let player;
        const videoBtn = document.getElementById('newVideoBtn');
        const urlTextInput = document.getElementById('videoUrl');
        const socket = io();

        videoBtn.addEventListener('click', () => {
            const uurl = urlTextInput.value;
            socket.emit('load_video', {url: uurl})
        })

        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: "390",
                width: "640",
                events: {
                'onReady' : onPlayerReady,
                'onStateChange': onPlayerStateChange
                }
            });
        }

        socket.on('load_video', (data) => {
            player.loadVideoByUrl(data.url)
        })

        socket.emit('join_room', {
            room_id: '{{ room_id }}',
            username: localStorage.getItem('username')
        })
    </script>

</body>
</html>