<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/roomStyles.css">
    <title>Room</title>
</head>
<body>
    <div class="room-info">
        <span class="room-label">Код комнаты: </span>
        <span id="roomIdSpan">{{ room_id }}</span>
    </div>

    <div class="video-container">
        <div class="inputUrl">
            <input id="videoUrl" type="text" placeholder="Введите ссылку на видео...">
            <button id="newVideoBtn">Установить</button>
        </div>

        <div id="player"></div>
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        const ROOM_ID = "{{ room_id }}";
    </script>
    <script src="/static/js/roomScr.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>