<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/roomStyles.css">
    <title>Room</title>
</head>
<body>
    <div class="room-info">
        <span class="room-label">Код комнаты: </span>
        <span id="roomIdSpan">{{ room_id }}</span>
    </div>

    <div class="video-container">
        <div class="inputUrl">
            <input id="videoUrl" type="text" placeholder="Введите ссылку на видео...">
            <button id="newVideoBtn">Установить</button>
        </div>

        <div id="player"></div>
    </div>

    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        let player;
        const videoBtn = document.getElementById('newVideoBtn');
        const urlTextInput = document.getElementById('videoUrl');
        const socket = io();
        let isSync = false;
        let playerReady = false;

        videoBtn.addEventListener('click', () => {
            const uurl = urlTextInput.value;
            socket.emit('load_video', {url: uurl})
        })

        function onYouTubeIframeAPIReady() {

            player = new YT.Player('player', {
                height: '390',
                width: '640',

                videoId: '',

                playerVars: {
                    autoplay: 0,
                    playsinline: 1,
                    rel: 0,
                    controls: 1,
                    origin: window.location.origin
                },

                events: {
                    onReady: onPlayerReady,
                    onStateChange: onPlayerStateChange,
                    onError: onPlayerError
                }
            });
        }

        setInterval(() => {
            if (!player) return;
            socket.emit('set_current_time', {currentT: player.getCurrentTime()})
        }, 200)

        function onPlayerReady(event) {
            event.target.mute();
            playerReady = true;
            console.log("Плеер готов!");
        }

        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING) {
                if (!isSync) {
                    console.log("Плеер начал проигрывать видео - отправка на сервер");

                    socket.emit('play_video', {
                        currentTime: player.getCurrentTime()
                    });
                } else {
                    isSync = false;
                }
            } else if (event.data == YT.PlayerState.PAUSED) {
                if (!isSync) {
                    console.log("Плеер на паузе - отправка на сервер");

                    socket.emit('pause_video');
                } else {
                    isSync = false;
                }
            }
        }

        function onPlayerError(event) {
            console.log("YouTube error code:", event.data);
        }

        function loadVideo(url) {
            const parsedUrl = new URL(url);
            console.log('Видео Загрузилось');

            const finalId =  parsedUrl.searchParams.get('v');
            player.cueVideoById(finalId);
        }

        socket.on('load_video', (data) => {
            loadVideo(data.url)
        })

        socket.on('play_video', (data) => {
            console.log("Плеер начал проигрывать видео - клинет принял, воспроизводим");
            isSync = true;
            player.seekTo(data.currentTime, true);
            player.playVideo();
        })

        socket.on('pause_video', () => {
            console.log("Плеер на паузе - клиент принял, остановка");
            isSync = true;
            player.pauseVideo();
        })

        socket.emit('join_room', {
            room_id: '{{ room_id }}',
            username: localStorage.getItem('username')
        })

        socket.on('join_room', (data) => {
            if (data.curVid) {
                loadVideo(data.curVid);
            }
            player.seekTo(data.curT, true);
            if (!data.isPlaying) {
                player.pauseVideo();
            } else {
                player.playVideo();
            }
        })
    </script>
    <script src="https://www.youtube.com/iframe_api"></script>
</body>
</html>